*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
} 
/*falta ordenar y modificar!!*/
body{
    background-color:#a46961bf ;
}
.barra-nav{
    height: 75px;
    background-color:#e1aea4;
    display: flex;
    justify-content: end;
    /*margin-top: 30px;*/

    
}
li{
    display:inline;
    /*flex-direction: row;*/
    list-style-type:none;
    /*width: 50px;
    height: 50px;*/
    margin: 10px;
    font-size: 24px;
    padding: 6px;
    line-height: 55px;
    
    
}
.contact{
    width: 40px;
    height:40px;
    color: white;
    background-color: #a46961;
    border-radius: 20px;
    padding: 10px;
    
}

.yo{
    width: 300px;
    border-radius: 10px;
}
.presentacion{
    font-size: ;
}
h1{
    color : #854740;
    font-size:50px;
    text-transform:inherit;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 30px 10px 20px 20px;
    justify-content: space-evenly;
    height: 600px;
    align-items: center;
}
p{
    font-size: 20px;
}
.conocimientos{
    display: block;
    justify-content:center;
    font-size: 10px;
}
.knows{
    border: 1px solid rgb(237, 243, 238);
    width: 500px;
    height: 500px;
    margin-left: 350px;
    display: flex;
	flex-direction:row;
	
} 

.section{
    display: flex;
    flex-direction: row;
    border: 1px solid #a46961;
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.cuadro-1, .cuadro-2, .cuadro-3{
    display: inline;
    justify-content: space-between;
    width:200px ;
    height: 200px ;
    border: 1px solid rgb(41, 6, 165);
    margin: 30px 20px ;
}
img{
    width: 100%;
    /*box-shadow: 2px 3px 3px 2px rgb(215, 189, 226);*/
    
}

a{
    color:black;
}

/*Section-Quote*/
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 800px;
    background-color: #a46961;
    padding: 0 90px;
    line-height: 40px;
    margin: 90px 10px;
}
.quote-icon {
    font-size: 60px;
}
.quote-txt{
    font-size: 25px;
    margin: 60px 40px;
}
.quote-firm{
    font-size: 35px;
    font-weight: bold;
}
/*Section-Proyect*/
.Proyect{
    height: 1200px;
    /*background-color: white;*/
    display: flex;
    flex-direction: column;
    justify-content: justify; /*no centra*/
    text-align: center;
}
.proyect-title{
    font-size: 30px;
    font-weight: bolder;
    line-height: 90px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:1000px;
    width: 1000px;
    margin-left: 50px;
    margin-top: 20px;
}
.card-portfolio,.card-meme,
.card-match,.card-gastos,.card-reuniones,
.card-app,.card-search{
    width: 300px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 15px;
}
/*Section-Contactos*/
.Contactos{
    height: 400px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;

}
.contacto{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
