*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
body{
    background-color: rgba(215, 189, 226, 0.5)
}
.barra-nav{
    height: 75px;
    background-color: rgb(215, 189, 226);
    display: flex;
    justify-content: end;
    

    
}
li{
    display:inline;
    /*flex-direction: row;*/
    list-style-type:none;
    /*width: 50px;
    height: 50px;*/
    margin: 10px;
    font-size: 24px;
    padding: 6px;
    
}
.contact{
    width: 40px;
    height:40px;
    color: white;
    background-color: rgb(168, 18, 158);
    border-radius: 20px;
    padding: 10px;
    
}

.yo{
    width: 600px;
    border-radius: 10px;
}
.presentacion{
    font-size: ;
}
h1{
    color : rgb(215, 189, 226);
    font-size:70px;
    text-transform:inherit;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 30px 10px 20px 20px;
    justify-content: space-evenly;
    height: 600px;
    align-items: center;
}
p{
    font-size: 20px;
}
.conocimientos{
    display: block;
    justify-content:center;
    font-size: 10px;
}
.knows{
    border: 1px solid rgb(45, 156, 59);
    width: 500px;
    height: 500px;
    margin-left: 350px;
    display: flex;
	flex-direction:row;
	
} 

.section{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(184, 10, 131);
    width: 100%;
    height: 50%;
    justify-content: space-between;
}

.cuadro-1, .cuadro-2, .cuadro-3{
    display: inline;
    justify-content: space-between;
    width:200px ;
    height: 200px ;
    border: 1px solid rgb(41, 6, 165);
    margin: 30px 20px ;
}
img{
    width: 100%;
    box-shadow: 2px 3px 3px 2px rgb(215, 189, 226);
    
}
