*{
    margin: 0;
    padding: 0;
    font-family: "Sedan";
    text-decoration: none;
    box-sizing: border-box;
} 

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
  }
  

/*body{
    background-color:#d17e7393 ;
} */

/*BARRA-NAVEGACION*/
.barra-nav{
    padding: 20px;
    width:100%;
    background-color:#e0cac5;
    display: flex;
    justify-content: end;
    box-shadow: 0 0 30px 0 rgb(206, 134, 134);
}

li{
    display:inline;
    /*flex-direction: row;*/
    list-style-type:none;
    /*width: 50px;
    height: 50px;*/
    margin: 10px;
    font-size: 24px;
    padding: 6px;
    line-height: 55px;
}

a:hover{
    color:black;
    cursor: pointer;
}

.contact{
    width: 40px;
    height:40px;
    color: white;
    background-color: #c3948e;
    border-radius: 20px;
    padding: 10px;
}

/*PRESENTACION*/
.yo{
    width: 300px;
    border-radius: 10px;
}

h1{
    color : #864740;
    font-size:50px;
    text-transform:inherit;
}
.container-presentacion{
    display: flex;
    flex-direction: row;
    margin: 30px 10px 20px 20px;
    justify-content: space-evenly;
    height: 600px;
    align-items: center;
}

img{
    width: 100%;
    /*box-shadow: 2px 3px 3px 2px rgb(215, 189, 226);*/
}
p{
    font-size: 19px;
}
.button-presentacion{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 50px;

}

/*CONOCIMIENTOS*/
.conocimientos{
    display: flex;
    justify-content:center;
    flex-direction: column;
    font-size: 20px;
    margin-top: 100px ;
    line-height: 30px;
}
.conocimientos-txt, .conocimientos-title{
    text-align: center;
    display: flex;
    justify-content: center;
}
.conocimientos-title{
    font-weight: 900;
    margin-bottom: 40px;
    font-size: xx-large;

}
.container-conocimientos{
    /*height: 600px;*/
    max-width: 100%;
    display:inline-flex;
    margin-top: 40px;
    flex-wrap:wrap;
    justify-content: center;
    align-content: space-evenly;
    gap: 4px 11px;
    padding: 50px 220px;
    
} 


.cuadros{
    display: flex;
    width:180px ;
    min-height: 180px ;
    border: 1px solid rgb(196, 166, 166);
    margin: 10px;
    flex-direction:column;
    padding: 30px;
    border-radius: 10px;
    background-color: #e1aea4;
    box-shadow: 1px 2px 2px 0 gray;
    cursor: pointer;
}

.colored{
    font-size: 6em;
    text-align: center;
}

h3{
    text-align: center;
    padding: 10px 0 0 0;
}


/*.section-2{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    flex-direction:baseline;

}*/
/*.cuadro-4, .cuadro-5, .cuadro-6{
    border: 1px solid yellow;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}*/

/*CITA DE TEXTO*/
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: #a46961;
    background: linear-gradient(190deg, #a46961, #5e2821 );
    padding: 150px 90px;
    line-height: 40px;
    /*margin: 90px 10px; va??*/ 
}
.quote-icon {
    font-size: 60px;
}

.quote-txt{
    font-size: 25px;
    margin: 60px 40px;
}
.quote-firm{
    font-size: 35px;
    font-weight: bold;
}
/*--PROYECTOS--*/
.Proyect{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    text-align: center;
}
.proyect-title{
    font-size: 30px;
    font-weight: bolder;
    line-height: 90px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 300px;
    height: 300px;
    background-color: #e1aea4;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px ;
    margin-left: 60px;
    margin-right: 60px;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid#854740;
    box-shadow: 0 2px 2px 0 gray;
}

.img-logo, .img-memes, .img-match, .img-gastos, .img-calendar, .img-app, .img-movies{
    width: 200px;
    height: 210px;
    display: flex;
    align-items:normal;
    margin: 10px 10px 20px 30px;
    object-fit: contain;
}

/*--CONTACTAME--*/
.Contactos{
    /*height: 400px;*/
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    margin: 60px 0 40px 0;
}
.contacto{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    /*margin-top: 40px; */
}
.datos{
    gap: 10px;
    
}
label{
    display: block;
    margin: 8px 0 12px 0;
}
button{
    /*border-radius: 7px;
    background-color: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
    cursor: pointer;*/
    height: 35px;
    width: 55px;
    background:#6d1c1c8e;
    color:#fff;
    transition:800ms ease all;
    cursor: pointer;
}
button:hover{
    background:#fff;
    color:#6d1c1c8e;
 }

.twitter, .mail{
    width: 20px;
    height: 20px;
}

/*PIE DE PAGINA*/
footer{
    background-color: #a46961;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    text-align: center;
    color: rgb(83, 83, 83);
    padding: 15px 0 15px 0;
}
.nav-li{
    color: rgb(83, 83, 83);
    font-size: 20px;
}

.container-logos{
    display: flex;
    gap: 20px;
    justify-content:center;

}
.ig-logo, .github-logo, .linkedin-logo, .email-logo, .amor{
    width: 25px;
}
.container-firma{
    padding-top: 20px;
    color: rgb(37, 36, 36);
    font-size: 20px;
}

@media screen and (max-width:480px){
    .container-presentacion{
        display: flex ;
        flex-direction: column;
    }
    .container-conocimientos{
        flex-direction: column;
        
    }
    
    .Contactos{
    flex-direction: column;
    justify-content: none;
    }

    
}
